<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Janine and David</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap"
          rel="stylesheet">
</head>
<body>
<main>
    <header>
        <h1>Janine + David</h1>
    </header>
    <ul>
        <li><a href="./index.html">Getting Ready</a></li>
        <li><a href="#">First Look</a></li>
        <li><a href="./bridal-party.html">Bridal Party</a></li>
        <li><a href="./ceremony.html">Ceremony</a></li>
        <li><a href="./couple.html">Couple</a></li>
        <li><a href="./group-photos.html">Group Photos</a></li>
        <li><a href="./reception.html">Reception</a></li>
    </ul>
    <div class="gallery">
        {% for photo in photos %}
            <img src="assets/images/first-look/{{ photo.name }}" alt="photo {{ photo.name }}" loading="lazy">
        {% endfor %}
    </div>
    <footer>
        <p>Created by David Manolitsas</p>
    </footer>
</main>
</body>

</html>