<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Janine & David</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&display=swap"
          rel="stylesheet">
</head>
<body>
<main>
<header>
    <h1>Janine & David</h1>
    <h2>18th May 2024</h2>
</header>
    <div class="container">
        <div class="gallery">
            {% for photo in photos %}
            <img src="assets/{{ photo.name }}" alt="photo {{ photo.name }}">
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>Created by David Manolitsas</p>
    </footer>
</main>
</body>

</html>